:root {
  --main: #ff5b1e;
  --sub: #3b73fe;
  --point1: #77ed70;
  --point2: #b0acf6;
  --font: #010101;
  --titleFont: "aAbstractGroovy", sans-serif;
  --contentFont: "Noto Sans KR", sans-serif;
  --shiny: 0 0 10px #ffd700, 0 0 20px #ffd700, 0 0 30px #ffd700,
    0 0 40px #ff8c00, 0 0 50px #ff8c00, 0 0 60px #ff4500, 0 0 70px #ff4500;
  --shinySmall: 0 0 10px #ffffff, 0 0 20px #eae7d4, 0 0 30px #ffef94,
    0 0 40px #ffc47b;
  --custom-gray: #999;
  --custom-gray-dark: #666;
}

/* 와이드pc */
#content {
  background: #000;
  color: #fff;
  padding: 100px 0;

  section {
    /* width: 1275px; */
    width: 60%;
    margin: 0 auto;
  }

  section.intro {
    .info {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 80px;
      padding-bottom: 50px;
      margin-bottom: 50px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      font-family: var(--contentFont);

      .txt_wrap {
        dl {
          dt {
            display: none;
          }
          dd {
            color: var(--custom-gray);
            font-size: 15px;

            &:not(:first-of-type) {
              margin-bottom: 44px;
            }
          }
          .title {
            font-size: 3.5vw;
            color: transparent;
            -webkit-text-stroke: 2px #fff;
            font-family: var(--titleFont);
          }
          .artist {
            font-size: 1.25rem;
            color: #fff;
          }
          .desc {
            font-weight: 300;

            & .more {
              display: inline-block;
              color: var(--custom-gray-dark);
            }
          }
        }

        .btn_wraps {
          display: flex;
          align-items: center;
          gap: 10px;

          button {
            flex-shrink: 0;
            background: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            &.btn_long {
              padding: 11px 25px;
              font-size: 15px;
              border-radius: 4px;
              gap: 8px;
              color: #fff;
            }

            &#fullPlay {
              background: var(--main);

              &::before {
                content: url("../images/sub2/btn_play.png");
              }
            }
            &#share {
              background: #2a2a2a;

              &::before {
                content: url("../images/sub2/btn_share.png");
              }
            }

            &.btn_like {
              &::before {
                content: "";
                display: block;
                width: 42px;
                height: 42px;
                background: url("../images/sub2/like.svg") no-repeat center;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 50%;
              }

              &.checked::before {
                background: url("../images/sub2/like_on.svg") no-repeat center;
              }
            }
          }
        }
      }

      .jacket_wrap {
        position: relative;

        &::before {
          content: "Released May 24, 2024";
          display: block;
          font-family: var(--contentFont);
          font-size: 1vw;
          position: absolute;
          left: 0;
          bottom: 0;
          transform: rotate(-90deg) translateY(100%);
          transform-origin: 0 100%;
        }
        & img {
          width: calc(520px * 0.8);
          margin-left: calc((557px - 520px) * 0.8);
        }
      }
    }

    .list {
      margin-bottom: 80px;
      font-family: var(--contentFont);
      counter-reset: list;

      & li {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;

        &:hover {
          background: #191919;
        }

        & a.title {
          flex: 0 1 50%;
          display: flex;
          align-items: center;
          gap: 8px;
          cursor: pointer;

          &::before {
            counter-increment: list;
            content: "" counter(list);
            width: 32px;
          }
          &.playBtn::before {
            content: "\f04b";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
          }

          & strong {
            font-weight: 400;
            line-height: 1;

            &:hover {
              text-decoration: underline;
            }
          }
          & .badge {
            display: inline-block;
            color: #ccc;
            background: #353535;
            font-size: 10px;
            padding: 0 4px;
            cursor: default;
          }
        }

        & .artist {
          flex: 0 1 30%;
          font-weight: 300;
          color: var(--custom-gray);
          font-size: 1rem;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        & .sm_list {
          flex: 0 1 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 24px;

          & button {
            color: var(--custom-gray);
            background: none;
            cursor: pointer;

            &.mp3 {
              border: 1px solid var(--custom-gray);
              padding: 3px 6px;
              border-radius: 3px;
              background: none;
              font-size: 0.65rem;
            }
            &.lyrics {
              &::before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                background: url("../images/sub2/lyrics.svg") no-repeat center;
                background-size: cover;
              }
              &.op0::before {
                opacity: 0;
                cursor: default;
              }
            }
            &.btn_like {
              &::before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                background: url("../images/sub2/like.svg") no-repeat center;
              }
              &.checked::before {
                background: url("../images/sub2/like_on.svg") no-repeat center;
              }
            }
          }
        }
      }
    }

    .mv {
      font-family: var(--contentFont);

      & h4 {
        font-size: 1.5vw;
        font-weight: 500;
        margin-bottom: 15px;
      }

      & ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        & li {
          flex-grow: 1;

          & a {
            & .thumb_wrap {
              margin-bottom: 10px;

              & img {
                width: 100%;
              }
            }
            & .txt_wrap {
              .title {
                font-size: 1.2rem;
              }
              .artist {
                color: var(--custom-gray);
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}

#footerArea {
  &::before {
    background: #000;
  }
}
/* 일반pc */
@media screen and (max-width: 1280px) {
  #content {
    section {
      width: 80%;
    }
  }
}

/* 일반 태블릿 */
@media screen and (max-width: 1024px) {
  #content {
    section {
      width: 90%;
    }

    section.intro {
      .info {
        gap: 30px;

        .txt_wrap {
          dl {
            .title {
              font-size: 5vw;
            }
          }
        }

        .jacket_wrap {
          &::before {
            font-size: 1.5vw;
          }
          & img {
            width: calc(520px * 0.7);
            margin-left: calc((557px - 520px) * 0.7);
          }
        }
      }

      .list {
        & li {
          & .artist {
            display: none;
          }
        }
      }

      .mv {
        & h4 {
          font-size: 1.8vw;
          font-weight: 500;
          margin-bottom: 15px;
        }

        & ul {
          gap: 10px;

          & li {
            & a {
              & .txt_wrap {
                .title {
                  font-size: 1.1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* 소형 태블릿 */
@media screen and (max-width: 768px) {
  #content {
    section.intro {
      .info {
        gap: 20px;

        .txt_wrap {
          dl {
            dd {
              &:not(:first-of-type) {
                margin-bottom: 10px;
              }
            }
            .title {
              font-size: 5vw;
            }
            .artist {
              font-size: 1rem;
            }
            .genre,
            .desc {
              font-size: 13px;
            }
          }

          .btn_wraps {
            gap: 8px;
            margin-top: 20px;
          }
        }

        .jacket_wrap {
          &::before {
            font-size: 1.75vw;
          }
          & img {
            width: calc(520px * 0.45);
            margin-left: calc((557px - 520px) * 0.45);
          }
        }
      }

      .list {
        margin-bottom: 60px;

        & li {
          height: 60px;
          font-size: 16px;

          & a.title {
            flex: 0 1 70%;
          }

          & .sm_list {
            flex: 0;

            & button {
              &.mp3 {
                display: none;
              }
              &.lyrics {
                display: none;
              }
            }
          }
        }
      }

      .mv {
        & h4 {
          font-size: 2.5vw;
        }

        & ul {
          gap: 8px;

          & li {
            & a {
              & .txt_wrap {
                .title {
                  font-size: 1rem;
                }
                .artist {
                  font-size: 0.9rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* 모바일 */
@media screen and (max-width: 640px) {
  #content {
    section.intro {
      .info {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 50px;
        text-align: center;

        .txt_wrap {
          dl {
            dd {
              font-size: 1.1rem;
            }
            .title {
              font-size: 12vw;
              -webkit-text-stroke: 1px #fff;
            }
            .artist {
              font-size: 1.1rem;
            }
          }

          .btn_wraps {
            justify-content: stretch;
            margin-top: 30px;

            button {
              flex-shrink: 1;
              flex-grow: 1;

              &.btn_like {
                position: relative;

                &::before {
                  position: absolute;
                }
              }
            }
          }
        }

        .jacket_wrap {
          &::before {
            display: none;
          }
          & img {
            width: 100%;
            margin-left: 0;
          }
        }
      }

      .mv {
        & h4 {
          font-size: 5vw;
        }
        & ul {
          flex-direction: column;
          gap: 15px;
        }
      }
    }
  }
}

/* 최소 사이즈  처리 */
@media screen and (max-width: 480px) {
  #content {
    & section.intro {
      & .list {
        & li {
          & a.title {
            flex: 0 1 100%;
          }
          & .sm_list {
            display: none;
          }
        }
      }
    }
  }
}
