#content {
  & .schedule {
    padding: 100px 0;
    margin-bottom: 100px;

    & .calendar_wrap {
      width: 80%;
      background: #fff;
      margin: 0 auto 60px;
      padding: 100px 0 50px;
      border-radius: 30px;
      position: relative;

      #calendar-month-title {
        text-align: center;
        font-size: 3vw;
        margin-bottom: 100px;
      }

      #calendar {
        width: 90%;
        height: 850px;
        margin: 0 auto;

        & .toastui-calendar-template-monthDayName {
          font-family: var(--contentFont);
          font-weight: 900;
          font-size: 2vw;
          text-align: center;
          margin-top: -20px;
        }
        & .toastui-calendar-grid-cell-date {
          & .toastui-calendar-weekday-grid-date-decorator {
            width: auto;
            height: auto;
            line-height: 1;
            padding: 10px;
            background-color: var(--main);
          }
          & .toastui-calendar-weekday-grid-date {
            font-family: var(--contentFont);
            font-weight: 900;
            font-size: 1.2vw;
          }
        }
        & .toastui-calendar-weekday-event-title {
          font-family: var(--contentFont);
          font-weight: 600;
        }
      }

      & .button_wrap {
        width: 108%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;

        button {
          background: none;
          font-size: 3vw;
          padding: 0 10px;
          color: var(--main);
          width: 5vw;
          height: 5vw;
          background: #f8f8f8;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
        }
      }
    }

    & .today_wrap {
      width: 80%;
      margin: 0 auto;

      & .today {
        margin-bottom: 20px;
        font-family: var(--contentFont);
        font-weight: 600;
        font-size: 2vw;
        color: #fff;
      }

      & .today_schedule {
        background: #fff;
        border-radius: 30px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 40px;
        font-family: var(--contentFont);
        font-size: 2vw;

        &::before {
          content: "";
          display: block;
          width: 50px;
          height: 50px;
          background: url("../images/mainimages/section/schedule_icon.png")
            no-repeat center;
          background-size: cover;
        }
      }
    }
  }
}

#footerArea {
  &::before {
    display: none;
  }
}

/* 태블릿 */
@media screen and (max-width: 1024px) {
  #content {
    & .schedule {
      padding: 50px 0;

      & .calendar_wrap {
        width: 90%;

        #calendar-month-title {
          font-size: 5vw;
        }

        #calendar {
          width: 90%;

          & .toastui-calendar-grid-cell-date {
            & .toastui-calendar-weekday-grid-date {
              font-size: 1.5vw;
            }
          }
        }

        & .button_wrap {
          width: 105%;
        }
      }

      & .today_wrap {
        width: 90%;

        & .today {
          font-size: 2.5vw;
        }

        & .today_schedule {
          font-size: 2.5vw;
        }
      }
    }
  }
}
/* 소형 태블릿 */
@media screen and (max-width: 768px) {
  #content {
    & .schedule {
      & .calendar_wrap {
        width: 95%;

        #calendar-month-title {
          font-size: 6vw;
        }

        & #calendar {
          width: 95%;

          & .toastui-calendar-template-monthDayName {
            font-size: 2.5vw;
          }
          & .toastui-calendar-grid-cell-date {
            & .toastui-calendar-weekday-grid-date {
              font-size: 2vw;
            }
          }
        }
      }

      & .today_wrap {
        width: 95%;

        & .today {
          font-size: 3.5vw;
          text-align: center;
          text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        }
        & .today_schedule {
          font-size: 2.8vw;
        }
      }
    }
  }
}
/* 모바일 */
@media screen and (max-width: 640px) {
  #content {
    & .schedule {
      & .calendar_wrap {
        width: 100%;
        border-radius: 0;

        #calendar-month-title {
          font-size: 6.5vw;
          margin-bottom: 80px;
        }

        & .button_wrap {
          width: 90%;
          top: 8.5%;
          transform: translate(-50%, 0);

          button {
            width: 8vw;
            height: 8vw;
            font-size: 5vw;
          }
        }

        #calendar {
          width: 100%;

          & .toastui-calendar-template-monthDayName {
            font-size: 3.5vw;
            font-weight: 500;
          }
          & .toastui-calendar-grid-cell-date {
            & .toastui-calendar-weekday-grid-date {
              font-size: 3vw;
              font-weight: 400;
            }
          }
        }
      }

      & .today_wrap {
        & .today {
          font-size: 5vw;
        }
        & .today_schedule {
          font-size: 3.5vw;
        }
      }
    }
  }
}
/* 최소 사이즈 */
@media screen and (max-width: 480px) {
  #content {
    & .schedule {
      margin-bottom: 50px;

      & .calendar_wrap {
        padding: 80px 0 0;

        #calendar-month-title {
          font-size: 10vw;
        }

        #calendar {
          & .toastui-calendar-template-monthDayName {
            font-size: 5vw;
          }
          & .toastui-calendar-grid-cell-date {
            & .toastui-calendar-weekday-grid-date {
              font-size: 4.5vw;
            }
          }
        }

        & .button_wrap {
          top: 7.5%;
          button {
            width: 10vw;
            height: 10vw;
            font-size: 6vw;
          }
        }
      }

      & .today_wrap {
        width: 100%;
        & .today {
          font-size: 8vw;
        }
        & .today_schedule {
          font-size: 6vw;
          border-radius: 0;
          gap: 8px;
          padding: 30px;
        }
      }
    }
  }
}
