#content {
  .masonry {
    background: rgba(0, 0, 0, 0.85);
    padding: 100px 10px;
    margin-bottom: 100px;

    & h3 {
      color: transparent;
      -webkit-text-stroke: 1px #fff;
      font-size: 15vw;
      text-align: center;
    }

    & .grid {
      & .grid-item,
      & .grid-sizer {
        width: 20%;
        height: auto;
      }

      & .grid-item {
        padding: 0 10px;
        float: left;
        box-sizing: border-box;

        & .img_wrap {
          margin: 10px 0;
          border-radius: 3%;
          border: 5px solid #fff;
          overflow: hidden;

          & img {
            display: block;
            width: 100%;
            transform: scale(1);
            transition: all 0.25s ease-out;
          }
          &:hover img {
            transform: scale(1.1);
            box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
              0 0 40px #cccccc, 0 0 50px #cccccc, 0 0 60px #999999,
              0 0 70px #999999;
          }
        }

        & h4 {
          text-align: center;
        }
        & p {
          text-align: center;
          font-size: 0.8em;
        }
      }
    }
  }
}

#footerArea {
  &::before {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  section {
    margin-bottom: 50px;
    padding: 40px 40px 0 40px;
  }
  .grid-item,
  .grid-sizer {
    width: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .grid-item,
  .grid-sizer {
    width: 33.33%;
  }
  #content h3 {
    font-size: 3em;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 10px 10px 0 10px;
  }
  .grid-item,
  .grid-sizer {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  #content h3 {
    font-size: 2em;
  }
  .grid-item,
  .grid-sizer {
    width: 100%;
  }
}
